<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cy.milkms.db.dao.PurchaseDetailedMapper">
	<resultMap id="baseResultMap" type="com.cy.milkms.db.entity.Purchase_detailed">
		<id column="id" property="id" jdbcType="INTEGER"/>
		<result column="purchase_ID" property="purchase_ID" jdbcType="INTEGER"/>
		<result column="milk_ID" property="milk_ID"  jdbcType="INTEGER"/>
		<result column="quantity" property="quantity"  jdbcType="INTEGER"/>
		<result column="price" property="price" jdbcType="DOUBLE"/>
		<result column="total_price" property="total_price" jdbcType="DOUBLE"/>
		<result column="created" property="created" jdbcType="TIMESTAMP" javaType="java.sql.Timestamp" />
		<result column="updated" property="updated" jdbcType="TIMESTAMP" javaType="java.sql.Timestamp" />
	</resultMap>
	
	<insert id="addPurchaseDetailed" useGeneratedKeys="true">
		insert into purchase_detailed(purchase_ID, milk_ID, quantity, price, total_price, created, updated)
		values(#{detailed.purchase_ID}, #{detailed.milk_ID}, #{detailed.quantity}, #{detailed.price}
		, #{detailed.total_price}, #{detailed.created}, #{detailed.updated})
	</insert>
	
	<select id="getPurchaseDetailedByPurchaseID" resultMap="baseResultMap">
		select * from purchase_detailed where purchase_ID = #{purchaseID}
	</select>
</mapper>