.table-tool{
	margin-bottom: 10px;
}

.portlet-title .tools i{
	cursor:pointer;
}

html, body{
	height:100%;
}

li{
	list-style:none;
}

.layer-form{
	margin-left:10px;
	margin-top:10px;
}

.layer-form table tr{
	height:42px;
}

.layer-button{
	margin-left:36px;
	margin-top:20px;
}
.layer-button button{
	width:100px;
}
.layer-button button:last-child{
	margin-left:67px;
}
